.page-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    height: 50px;
    padding-inline: var(--layout-spacing);
}
