:root {
    --content-width: 800px;
    --color-text: #1d1f21;
    --color-text-inverse: #f9f8f5;
    --color-link-focus: #cf3f44;
    --color-link-hover: #cf3f44;
    --color-background-code: #1d1f21;
    --layout-spacing: 10px;
}
