<home-welcome>
    <style>{{ '_includes/components/home-welcome/style.css' | postcss('inline') | safe }}</style>
    <h1>Jonas Fährmann</h1>
    <p>Hi my name is Jonas, great to have you here. I am frontend designer/developer at Thalia Bücher, a german omni-channel-bookseller based in Münster, North-Rhine Westphalia.</p>
    <p>Do you have any questions? Feel free to get in touch with me by <a href="mailto:jonasfaehrmann@me.com">mail</a> or find me on one of the following platforms.</p>
    {% include 'components/web-platforms/index.njk' %}
</home-welcome>
