---
layout: page.njk
section: writing
permalink: /writing/index.html
speedlifyHash: 79b54770
canonicalLink: writing
pageName: writing
---
{% set postslist = collections.posts %}
{% include 'components/post-list/index.njk' %}
