<under-construction>
    <style>{{ '_includes/components/under-construction/style.css' | postcss('inline') | safe }}</style>
    <h2>This site is under construction</h2>
    <p>You probably already noticed that this page looks very bare. I'm working on a new design and will gradually make adjustments to make this site a little more appealing and accessible. If you notice something that is totally broken, feel free to contact me.</p>
    <a href="#content">Skip to content</a>
</under-construction>
