--- 
layout: page.njk
pageName: home
speedlifyHash: 8de79239
---
{% include 'components/home-welcome/index.njk' %}

{% set latestposts = collections.posts %}
{% include 'components/latest-posts/index.njk' %}
